{% extends "blog/layout.html" %}
{% load static %}

{% block main%}
<main id="mag-cover">
    <div id="une-couv" style="font-size: 4vh;">Sujet à la une = Primary content coeur de cible</div>
    <div id="magContent-glimpse">
        <h1>Primary content cible secondaire</h1>
        <h2>Clickbait prospects en lien avec la une</h2>
        <h3>Secondary content coeur de cible</h3>
        <div id="regContent-topics">
            <h3>sujets des contenus habituels</h3>
            <a href="#">Tips</a>
            <a href="#">Decouverte</a>
            <a href="#">CTA => transfo</a>
        </div>  
    </div>
</main>
{% endblock %}