{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>This a test</title>
        <link rel="stylesheet" href="{% static 'core/styles/styles.css' %}">
        <link rel="stylesheet" href="{% static 'core/styles/index.css' %}">
        <link rel="stylesheet" href="{% static 'core/styles/services.css' %}">
    </head>
    <body>
        <header>
            <a id="brandLogoHeader"  href="{% url 'core:index' %}">
                <h3>Logo Cliquable</h3>
            </a>
            
            <div id="navHeader">
                <select id="headerMenu">
                    <option>MENU</option>
                    <option>Foo</option>
                    <option>Baz</option>
                    <option>Bar</option>
                </select>
                <a href="{% url 'core:services' %}">Services</a>
                <a href="{% url 'blog:index' %}">Webzine</a>
                <a href="{% url 'core:about' %}">About</a>
            </div>
        </header>

        {% block main %}
        {% endblock %}
        
        <footer>
            <h3>This is a fixed part</h3>
        </footer>
    </body>
</html>

