{% extends "core/layout.html" %}

<!-- This is SERVICES page -->

{% block landing %}

    <div class="focus-1" id="banner-services">
        <h1>Services</h1>
        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
        <div id="cta-banner-services">
            <a class="cta-btn mirror-theme" href="#"
                >Définir mes besoins</a>
            <a class="ghost-btn mirror-theme" href="{% url 'core:services' %}"
                >Explorer les services</a>
        </div>    
    </div>
    <div class="focus-2" id="resume-services">
        <h2>A chaque personne, son besoin ^_^</h2>
        <div  id="services-list">
            <div class="infos-cta"  id="secondary-target">
                <h3>Cible secondaire</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
                <a class="cta-btn" href="#"
                    >+ d'infos</a>
            </div>
            <div class="infos-cta" id="main-target">
                <h3>Coeur de cible</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
                <a class="cta-btn" href="#"
                    >+ d'infos</a>
            </div>
            <div class="infos-cta"  id="prospects">
                <h3>Convertibles</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
                <a class="cta-btn" href="#"
                    >+ d'infos</a>
            </div>
        </div>
        
    </div>
{% endblock %}

