{% extends "core/layout.html" %}

<!-- This is SERVICES page -->
{% block pageHeader%}
<a class="home-btn" href="{% url 'core:index' %}">
    <img height=64 id="logo-mini" src="{% static 'core/assets/logo/logo-11em-btn.png' %}"/>
    <div>Vous avez un besoin</div>
</a>
{% endblock %}

<!-- This is HOME page -->
{% block landing %}
<div class="focus-1" id="hero-section">
    <h1>Vous êtes face à une situation complexe qui nécessite un regard expert ?</h1>
    <img id="portrait" height=150 src="{% static 'core/assets/femme-foulard-yeux-plafond.jpg' %}"/>  
</div>

<div class="focus-2" id="targets-section">
    <a class="trgt-btn" id="target-1" href="#">
        <h2 >Vous êtes</h2>
        <p class="trgt-summary">Une organisation, une institution ou un professionnel qui....</p>
    </a>
    <a class="trgt-btn" id="target-2" href="#">
        <h2>Vous avez</h2>
        <p class="trgt-summary">Identifié un axe de changement ou d'évolution de pratiques ou d'environnement</p>
    </a>
    <a class="trgt-btn" id="target-3" href="#">
        <h2>Vous cherchez</h2>
        <p class="trgt-summary">Des conseils ou des outils pour vous aider à initier et developper une démarche perenne.</p>
    </a>
</div>

<div class="focus-3" id="value-prop">
    <div id="btm-btns">
        <button>Identifier ma solution</button>
        <button>Prendre contact</button>
    </div> 
    <h3>Vous pouvez acceder à de nombreuses informations sur le site ou au travers d'un échange.</h3>
    <div>Carroussel blog</div>
</div>
{% endblock %}


{% block scrolling %}
<!-- user clicking ou scrolling pour plus d'infos -->
<div >
    <div class="sous-section" id="prospect-types">
        <h2>Differents publics</h2>
        
        <h3>Public 1</h3>
        <p id="artiste-chant">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
        <img class="illu-section"/>
        <img class="illu-section"/>
        <p id="artiste-chant-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
        
        <h3>Public 2</h3>
        <img class="illu-section"/>
        <img class="illu-section"/>
        <p id="artiste-ecriture">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
        <img class="illu-section"/>
        <img class="illu-section"/>
        <p id="artiste-ecriture-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
    
        <h3>Public 3</h3>
        <img class="illu-section"/>
        <p id="artiste-chant">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
        <img class="illu-section"/>
    </div>

    <div class="sous-section" id="problems-types">
        <h2>Differents challenges</h2>
        
        <h3>Challenge 1</h3>
        <p id="travail-social">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
        <img class="illu-section"/>

        <h3>Challenge 2</h3>
        <img class="illu-section"/>
        <p id="travail-chr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>

        <h3>Challenge 3</h3>
        <img class="illu-section"/>
        <p id="entrepreneuriat">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
    </div>
        
    <div class="sous-section" id="solutions-types">
        <h2>Differentes solutions</h2>
        
        <h3>Value Prop 1</h3>
        <p id="recherche-capital-temps">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
        <img class="illu-section"/>

        <h3>Value Prop 2</h3>
        <p id="recherche-qvct">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
        <img class="illu-section"/>

        <h3>Value Prop 3</h3>
        <p id="recherche-edia">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
        <img class="illu-section"/>

        <h3>Value Prop 4</h3>
        <p id="recherche-rse">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
        <img class="illu-section"/>
    </div>  
</div>
{% endblock %}

{% block highlight %}
<div class="highlight-section">
    <img id="logo-plume" height=150 src="{% static 'core/assets/logo/logo-11em-full-grn.png' %}"/>
    <h3>Nous pouvons concevoir ensemble la solution qui vous correspond !</h3>
    <div id="btm-btns">
        <button>Etablir un devis</button>
        <button>Prendre contact</button>
    </div>  
</div>
{% endblock %}

