{% extends "core/layout.html" %}
{% load static %}

{% block pageHeader%}
<a class="home-btn" href="{% url 'core:index' %}">
    <img height=64 id="logo-mini" src="{% static 'core/assets/logo/logo-11em-btn.png' %}"/>
    <div>Trouvez votre solution</div>
</a>
{% endblock %}

{% block landing %}
<nav class="focus-1" id="hero-section">
    <h1>Ne croyez pas en l'impossible, croyez en vous !</h1>
    <div id="cta-heroSection">
        <a class="cta-btn" href="#">Définir mes besoins</a>
        <a class="ghost-btn" href="{% url 'core:solutions' %}">En savoir plus</a>
    </div>    
</nav>
<nav class="focus-2" id="targets-section">
    <a class="trgt-btn" id="seconde-cible" href="#focus-idee">
        <h2 >Une idée ?</h2>
        <p class="trgt-summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod.</p>
    </a>
    <a class="trgt-btn" id="coeur-cible" href="#focus-projet">
        <h2>Un projet ?</h2>
        <p class="trgt-summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod.</p>
    </a>
    <a class="trgt-btn" id="cible-custom" href="#focus-besoin">
        <h2>Un besoin ? </h2>
        <p class="trgt-summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod.</p>
    </a>
</nav>

<div class="focus-3" id="value-prop">
    <div id="btm-btns">
        <a href="{% url 'core:solutions' %}">Testez les outils</a>
        <a href="{% url 'core:contact' %}">Prendre contact</a>
    </div>
    <h3>Parce que la vie est une aventure !</h3>
    <img height=150 src="{% static 'core/assets/femme-foulard-yeux-plafond.jpg' %}"/>
</div>
{% endblock %}

{% block scrolling %}
<!-- user clicking ou scrolling pour plus d'infos -->
<div id="scrolling-sections">

    <div class="section" id="focus-idee">
        <h2>Vous avez une idée </br>et souhaitez la concrétiser ?</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
        <nav id="idee-btns">
            <a href="{% url 'core:idee' %}">Préciser mon idée</a>
            <a href="{% url 'core:solutions' %}">Toutes les solutions</a>
        </nav>
    </div>

    <div id="idee-blog">
        <h3>Diaporama articles de blogs</h3>
        <img class="illu-section"/>
        <img class="illu-section"/>
    </div>

    <div class="section" id="focus-projet">
        <h2>Vous avez un projet </br>et cherchez par où commencer ?</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
        <nav id="projet-btns">
            <a href="{% url 'core:projet' %}">Développer mon projet</a>
            <a href="{% url 'core:solutions' %}">Toutes les solutions</a>
        </nav>
    </div>
    <div id="projet-blog">
        <h3>Diaporama articles de blogs</h3>
        <img class="illu-section"/>
        <img class="illu-section"/>
    </div>

    <div class="section" id="focus-besoin">
        <h2>Vous avez un besoin précis </br>et voulez une solution adaptée ?</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur similique nisi inventore excepturi culpa iusto sed soluta doloribus error ea adipisci quod, nulla molestias suscipit maxime necessitatibus veniam minima.</p>
        <nav id="besoin-btns">
            <a href="{% url 'core:service' %}">Définir mon besoin</a>
            <a href="{% url 'core:solutions' %}">Toutes les solutions</a>
        </nav>
    </div>
    <div id="besoin-blog">
        <h3>Diaporama articles de blogs</h3>
        <img class="illu-section"/>
        <img class="illu-section"/>
    </div>
    
</div>

{% endblock %}

{% block highlight %}
<div class="highlight-section">
    <div id="proof-1">Commentaire 1</div>
    <div id="proof-2">Commentaire 2</div>
    <div id="proof-3">Commentaire 3</div>
    <h3>Phrase d'accroche</h3>
</div>
{% endblock %}
