
/* -------  sections ------------ */
.focus-1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh 2vw 1vh 2vw;
    color:black;
    background-color: rgb(216 225 242);
    min-height: 30vh;
    text-align: center;
   
}

.focus-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 1.5em;
    gap : 3vw;
    min-height: 30vh;
} 

.focus-3{
    background-color: rgb(248 214 222);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    max-height: 20vh;
} 

#scrolling-sections{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding : 1.5em;
}

.sous-section{
    display: block;
    /* grid-template-columns: 50% 50%;  */    
}

#artiste-resume{
   /*  grid-template-rows: minmax(5vh, auto-fit) minmax(3vh, auto-fit) 1fr 1fr minmax(3vh, auto-fit) 1fr 1fr 1fr  minmax(3vh, auto-fit) 1fr 1fr 1fr;
    grid-template-areas: 'left1 right1' 'left2 right2' 'left3 right3' 'left4 right4'; */
    background-color: rgb(216 225 242);
}

#travail-resume{
    /* grid-template-rows: repeat(3, auto-fit);
    grid-template-areas: 'left1 right1' 'left2 right2' 'left3 right3'; */
    background-color: rgb(188 233 200);
}

#research-resume{
    /* grid-template-rows: repeat(3, auto-fit);
    grid-template-areas: 'left1 right1' 'left2 right2' 'left3 right3'; */
    background-color: rgb(248 214 222);
}


.highlight-section{
    background-color: rgb(248 214 222);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5em;
    min-height: 20vh;
}

/* ------- Containers ------------ */
.trgt-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

.trgt-summary{
    display: block;
    align-self: center;
    text-align: center;
    border-radius: .5em;
    background-color:  rgb(188 233 200);
    padding: 1em;
    margin:0;
}

#btm-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px dotted black;
    padding: 0.5em;
    gap: 1vh;
}


#idee-hero{
    grid-area: left1;
}

#idee-CTA{
    grid-area: right1;
}

#projet-CTA{
    grid-area: left2;
}

#projet-hero{
    grid-area: right2;
}

#besoin-hero{
    grid-area: left3;
}

#besoin-CTA{
    grid-area: right3;
}



#contact-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    gap : 1vh;
}

#photo-contact{
    background-image: url('../assets/femme-dreads.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 25vw;
}

#infos-msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    gap : 1vh;
}
 
#msg-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em;
    gap : 1vh;
}



