/* -------Hero Section------------ */

 #banner-services{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 4vw;
    padding-bottom: 2vh;
    color: rgb(183, 255, 239);
    background-image: url('../assets/brainstorm-table.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 35vh;

   
}


#cta-banner-services{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:2vw;
    padding:.25em;
    font-weight:bold;

    
}

/* ------ Primary Content ------------ */
#resume-services{
    color: rgb(49, 31, 85);
}

#services-list{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, minmax(32ch, 20vw));
    gap:2vw;
}

.infos-cta{
     border: 1px dotted black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding:1em;
    text-wrap: wrap;
}

#contact-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    gap : 1vh;
}

#photo-contact{
    display:block;
    height: 300px;
    width : 250px;
    background-color: rgb(49, 31, 85);
}

#infos-msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    gap : 1vh;
}

#msg-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em;
    gap : 1vh;
}


